<header class="site-header" role="banner">
    <nav id="top" class="site-nav">
        <a class="site-title" href="/">
            <img class="navbar-image" src="/assets/images/wjsn_logo.png" width="65px" height="50px" alt="WJSN Logo" />
        </a>
        <div class="navbar-container">
            <div class="nav-bar-links">
                <ul>
                    {% for nav in site.data.site_settings.navigation %}
	                    <li><a href="{{ nav.url }}">{{ nav.title }}</a><li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </nav>
</header>

