---
layout: "default"
title: "About"
author: "Pat"
---

{%- include hero.html -%}


<section id="about" class="section">
    <div class="container">
        <h3 class="section-heading">About WJSN</h3>
        <div class="about-container">
            {{content}}
        </div>
    </div>
</section>

<section id="about" class="section">
    <div class="container">
        <div class="hero-image">
        <div class="hero-text">
            <h1>WOULD YOU LIKE?</h1>
        </div>
    </div></div>
    
</section>

<section id="about" class="section">
    <div class="container">
        {% for member in site.data.members %}
        <div class="image-container">
            <img src="{{ member.image-src }}"/>
        </div>

        <div class="members-about-container">
            
            <h3>{{ member.stage-name }}</h3>
                Real Name: {{ member.name }} <br>
                DOB: {{ member.date-of-birth }} <br>
                Position(s): {{ member.position }} <br><br>
            
        </div>
        {% endfor %}
    </div>
</section>

<img class="navbar-image" src="/assets/images/wjsn_sequence.jpg" alt="WJSN Logo" />

