---
layout: "wrapper"
title: "About"
author: "Pat"
---

<section id="about" class="section">
    <div class="container">
        <h3 class="section-heading">About WJSN</h3>

        <div class="about-container">
            <p>Cosmic Girls (우주소녀), also known as WJSN is a 13-member girl group under Starship Entertainment and Yuehua Entertainment. 
            The group consists of EXY, Seola, Xuan Yi, Bona, Soobin, Luda, Dawon, Eunseo, Cheng Xiao, Mei Qi, Yeoreum, Dayoung, and Yeonjung. 
            They debuted on February 25, 2016, with their first mini-album “Would You Like?”</p>
            <p>Cosmic Girls Fandom Name: Ujung (우정) (Means “friendship” in Korean).</p>
            <p>Cosmic Girls Official Fan Color: Vivid Tangerine, Airforce Blue, and Timberwolf.</p>
        </div>
    </div>
</section>

<section id="about" class="section">
    <div class="container">

        <div class="members-about-container">
            {% for member in site.data.members %}
                Name: {{ member.name }} <br>
                Stage name: {{ member.stage-name }} <br>
                DOB: {{ member.date-of-birth }} <br>
                Position(s): {{ member.position }} <br><br>
            {% endfor %}
        </div>
    </div>
</section>

<img class="navbar-image" src="/assets/images/wjsn_sequence.jpg" alt="WJSN Logo" />

